{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain "Modules.Awinvoicesorter.Admin" %}

[* {% form_theme smartPackGeneralForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %} *}

{% block content %}
  <p>hello world!</p>
{% endblock %}
